.cop-heading {
  margin-top: 3% !important;
  font-size: 3vw;
  font-family: "Playfair Display", serif;
  max-width: max-content;
  margin: auto;
}
.cop-heading span {
  border-bottom: 2px solid #901626;
}
.table {
  border: 1px solid rgba(0, 0, 0, 0.13) !important;
}
.table th {
  padding-top: 15px;
  padding-bottom: 15px;
}
.table td {
  padding-top: 15px;
  padding-bottom: 15px;
}
.table-responsive{
  text-align: center;
}
.academic-table {
  padding: 3% 10% 1% 10%;
}
.non-academin-table {
  padding: 3% 10% 1% 10%;
}
.apn-btn {
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}
.apn-btn a {
  color: rgba(0, 0, 0, 0.63);
}
.table-heading {
  /* padding-bottom: 15px; */
  padding-top: 20px;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}
.pagination {
  float: right;
}
.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: rgb(0 0 0 / 26%) !important;
}

@media only screen and (max-width: 767px) {
  .academic-table {
    padding: 3% 3% 1% 3%;
  }
  .non-academin-table {
    padding: 3% 3% 1% 3%;
  }
  .pagination {
    float: left;
    margin-bottom: 20px;
  }
  .cop-heading {
    font-size: 25px;
    margin-left: 72px;
  }
  .table-heading {
    font-size: 20px;
  }
  .apn-btn {
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 15px !important;
  }
}
