.reg-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px 50px 100px 50px;
    border-radius: 20px;
  }
  .reg-container input:focus {
    outline: none;
  }
  .reg-container select:focus {
    outline: none;
  }
  .reg-container label {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  .reg-container input {
    border: none;
    border-bottom: 2px solid black;
  }
  .reg-container select {
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    height: 43px;
    padding-left: 10px;
  }
  .reg-ad-btn {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
  }
  .form-heading p {
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  .reg-ad-logo {
    width: 20%;
    height: 100%;
  }
  .form-heading {
    text-align: center;
  }
  .form-heading div {
    margin-bottom: 10px;
  }
  .reg-container-main {
    margin: 7% 15% 2% 15%;
  }
  