.plus-buttons {
    padding: 2px 7px 2px 7px;
    float: right;
    border: none;
    background-color: transparent;
    img {
      width: 20px;
      height: 20px;
    }
  }
  
  .minus-buttons {
    padding: 2px 7px 2px 7px;
    float: right;
    border: none;
    background-color: transparent;
    img {
      width: 20px;
      height: 20px;
    }
  }
  
  .highlighted-experience {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px; /* Add any additional styling you want */
  }