.plus-buttons {
    padding: 2px 7px 2px 7px;
    float: right;
    border: none;
    background-color: transparent;
    img {
      width: 20px;
      height: 20px;
    }
  }
  
  .minus-buttons {
    padding: 2px 7px 2px 7px;
    float: right;
    border: none;
    background-color: transparent;
    img {
      width: 20px;
      height: 20px;
    }
  }
  
