.vrf-page {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5%;
  border-radius: 15px;
}
.vrf-heading {
  text-align: center;
  color: rgba(0, 0, 0, 0.666);
  font-size: 25px;
  border-bottom: 1px solid lightgray;
  font-weight: 600;
}
.vrf-subheading {
  color: black;
  font-weight: 600;
  font-size: 20px;
  font-weight: 600;
}
.otp-form input {
  margin-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  border-radius: 50px;
  padding: 10px;
  width: 180px;
}
.otp-form input:focus {
  outline: none;
}
.sub-vrf-page {
  padding-top: 15%;
}
#resend-btn {
  margin-top: 50px;
  border: none;
  padding: 10px;
  background-color: grey;
  color: white;
  font-weight: 600;
  border-radius: 50px;
  width: 130px;
}
.vrf-main-container {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
#otp-submit-btn {
  border: none;
  padding: 10px;
  width: 130px;
  border-radius: 50px;
  font-weight: 600;
  margin-bottom: 5%;
  background-color: rgba(211, 211, 211, 0.603);
}
