.success-main-container {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.success-page {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2% 5% 10% 5%;
  border-radius: 15px;
}
.success-heading {
  text-align: center;
  color: rgba(0, 0, 0, 0.666);
  font-size: 25px;
  border-bottom: 1px solid lightgray;
  font-weight: 600;
}
.success-subheading {
  padding-bottom: 30px;
  color: black;
  font-weight: 600;
  font-size: 20px;
  font-weight: 600;
}
.success-sub-container {
  padding-top: 10%;
}
.success-logo {
  padding-top: 10px;
}
@media only screen and (max-width: 767px) {
  .success-logo img {
    width: 100px;
    height: 100px;
  }
  .success-page {
    margin-left: 10%;
    margin-right: 10%;
  }
}
