.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px;
  border-radius: 10px;
}
.contact-detail {
  background-color: #d2d2d2;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  border-radius: 10px;
  width: 50%;
}
.contact-detail p {
  margin-bottom: 5%;
}
.contact-detail p:nth-child(1) {
  font-size: 28px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.contact-logo {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.AQ-container {
  margin-top: 20%;
}
.cd-heading {
  margin-bottom: 15px !important;
}
.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: gray;
  padding-left: 5%;
  padding-top: 5%;
  overflow: hidden;
}
.contact-form input {
  border: none;
  border-bottom: 1px solid black;
  margin: 10px;
  background-color: transparent;
  /* width: 282px; */
}
.contact-form label {
  margin: 10px;
}
.contact-form input:focus {
  outline: none;
}
.contact-form button {
  float: right;
  border: none;
  padding: 5px;
  width: 100px;
  background-color: #d2d2d2;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
}
.map-to-medi iframe {
  width: 100%;
  height: 600px;
  margin-bottom: 50px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.map-to-medi p {
  margin-bottom: 25px;
  margin-left: 10%;
}

#our-address {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  border-bottom: 2px solid maroon;
}

@media only screen and (max-width: 767px) {
  .contact-container {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10% !important;
  }
  .cd-heading {
    font-size: 20px !important;
  }
  .contact-form {
    padding-left: 1%;
  }
  .contact-detail {
    width: 100%;
  }
  #our-address {
    font-size: 25px;
    border-bottom: 1px solid maroon;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .contact-detail {
    background-color: #d2d2d2;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    width: 100%;
  }
  .contact-form {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
  .contact-form input {
    border: none;
    border-bottom: 1px solid black;
    margin: 10px;
    background-color: transparent;
    width: 282px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .contact-form input {
    border: none;
    border-bottom: 1px solid black;
    margin: 10px;
    background-color: transparent;
    width: 282px;
  }
}
