.is-table td {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #667085 !important;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.is-table th {
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #667085 !important;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  background-color: #fcfcfd;
}
td[style*="color: red"] {
  color: rgba(255, 0, 0, 0.507) !important;
}
.SCA-table {
  padding: 3% 10% 1% 10%;
  margin-top: -5.9%;
}
.SCA-heading {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  color: #901626;
  font-weight: 600;
}
.table-des {
  margin-top: -15px;
  margin-bottom: 50px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.725);
}





@media only screen and (max-width: 767px) {
  .SCA-table {
    padding: 3% 3% 1% 3%;
  }

  .pagination {
    float: left;
    margin-bottom: 20px;
  }
}
