.sidebar {
  max-width: 20%;
  flex-shrink: 0;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media only screen and (max-width: 767px) {
  .sidebar {
    box-shadow: none;
  }
}
.edit-form-outlet::-webkit-scrollbar {
  width: 0px;
}
