.new-openings {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 50px;
    padding-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
  }
  .new-openings-form {
    select {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid black;
      width: 100%;
      height: 50px;
    }
    select:focus {
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 2px solid green;
    }
    input:focus {
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 2px solid green;
    }
    input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid black;
      height: 50px;
    }
    label {
      margin-bottom: -5px;
      margin-top: 15px;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      font-weight: 600;
      margin-left: 10px;
    }
  }
  #add-job {
    position: absolute;
    margin-right: 5%;
    right: 0;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    border: 2px solid black;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 2px 10px 2px 10px;
  }
  #add-job:hover {
    background-color: black;
    color: white;
    transition: 0.3s ease-in-out;
  }
  #master-sub-headings {
    font-weight: 600;
  }
  

  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    color: #070606;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
    position: absolute;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
    25% {
      box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
    }
    50% {
      box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
    }
    75% {
      box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
    100% {
      box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
  }