.pdf-iframe {
    width: 100%;
    height: 600px;
  }
  


.education-section,
.experience-section {
  
  
    margin-bottom: 20px;
}

.section-heading {
  position: sticky;
  overflow: hidden;
  background-color:rgb(211, 211, 211);
  padding: 10px;
  padding-left: 0;
}
.lower-box{
display: flex;
justify-content: center;
}
.education-section{
  flex: 1;
  padding-right: 10px;
     overflow-y: auto;
   max-height: 200px;
}
.experience-section{
  flex: 1;
  padding-left: 10px;
  overflow-y: auto;
  max-height: 200px;
}
