.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.CE-form {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5%;
}

.CE-heading {
  font-size: 22px;
  color: #170f49;
  font-weight: 700;
}

.CE-subheading {
  color: #6f6c90;
  font-size: 16px;
  font-weight: 400;
}

.set-checkbox {
  width: auto;
}

.set-checkbox-span {
  font-size: 14px;
  font-weight: 400;
  color: #6f6c90;
}

.form-section {
  margin-top: 8%;
}

.SetLabel-Name {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.set-input {
  width: 99.5%;
  height: 55px;
  border-radius: 45px;
  border: 1px solid;
  border-color: #eff0f6;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #6f6c90;
  font-size: 15px;
  padding: 14px;
}

.SetLabel-Name span {
  color: red;
}

.set-input:focus {
  outline: none;
}

.uploadresume-subheading {
  font-family: "Open Sans", sans-serif;
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.uploadfile-section {
  margin-top: 20px;
}

@media only screen and (max-width: 767px) {
  .set-input {
    width: 100% !important;
  }

  .set-dropdown {
    width: 100% !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .set-input {
    width: 100% !important;
  }

  .set-dropdown {
    width: 100% !important;
  }

  .SetLabel-Name {
    font-size: 11px !important;
  }
}
