#logout-btn {
  margin-top: 1%;
  margin-right: 1%;
}
.admin-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-top: 1%;
  padding-bottom: 1%;
}
.admin-logo {
  width: 200px;
  height: 60px;
  margin-left: 10%;
}
#logout-btn button {
  background-color: transparent;
  padding: 3px 15px 3px 15px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  border: 2px solid black;
  transition: background-color 0.8s ease;
}
#logout-btn button:hover {
  background-color: black;
  color: white;
}
@media only screen and (max-width: 767px) {
  #logout-btn {
    margin-top: 4%;
    margin-right: 1%;
  }
  #logout-btn button {
    padding: 2px 10px 2px 10px;
  }
}
