#logout-btn {
  float: right;
  margin-right: 20px;
}
#logout-btn button {
  background-color: transparent;
  padding: 3px 15px 3px 15px;
  font-weight: 600;
  font-size: 15px;
  border: 2px solid black;
  transition: background-color 0.8s ease;
}
#logout-btn button:hover {
  background-color: black;
  color: white;
}
