.UD-heading {
  font-size: 23px;
  color: #170f49;
  font-weight: 700;
}
.UD-subheading {
  color: #6f6c90;
  font-size: 17px;
  font-weight: 400;
}

.UD-form-section {
  margin-top: 8%;
}

.UD-SetLabel-Name {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.set-others {
  font-size: 14px;
  color: black !important;
}

.UD-SetLabel-Name span {
  color: red;
}

.UD-set-dropdown {
  width: 99.5%;
  height: 55px;
  padding: 14px;
  border-radius: 45px;
  color: #6f6c90;
  border-color: #eff0f6;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.UD-set-input {
  width: 99.5%;
  height: 55px;
  border-radius: 45px;
  border: 1px solid;
  border-color: #eff0f6;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #6f6c90;
  font-size: 15px;
  padding: 14px;
  margin-bottom: 0px;
}

.UD-set-input:focus {
  outline: none;
}
.UD-set-dropdown:focus {
  outline: none;
}

.UD-set-icon {
  margin-left: -33px;
  color: rgba(160, 163, 189, 1);
}

@media only screen and (max-width: 767px) {
  .UD-set-input {
    width: 100% !important;
  }

  .UD-set-dropdown {
    width: 100% !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .UD-set-input {
    width: 100% !important;
    font-size: 14px;
  }

  .UD-set-dropdown {
    width: 100% !important;
    font-size: 14px;
  }
}
