.container-1 {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  font-family: "Open Sans", sans-serif;
}
.container-1 label {
  font-size: 16px;
  font-weight: 600;
}
.container-1 button {
  background-color: transparent;
  padding: 3px 20px 3px 20px;
  font-weight: 600;
  border: 2px solid black;
  float: right;
  /* margin-top: 25px; */
}
.container-1 button:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease;
}
.container-1 input {
  font-size: 18px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.799);
}
.container-1 input:focus {
  outline: none;
}
/* #update-btn {
  background-color: #0b6623e5;
  color: white;
  border: none;
  padding: 2px 10px 2px 10px;
  font-weight: 600;
}
#delete-btn {
  background-color: rgb(218, 63, 63);
  color: white;
  border: none;
  padding: 2px 10px 2px 10px;
  font-weight: 600;
} */
#updating-field:focus {
  outline: none;
}
#updating-field {
  border: 2px solid black;
  max-width: max-content;
  margin: 0;
  padding: 5px 10px 5px 10px;
}
.select-jc {
  width: 99.5%;
  height: 55px;
  padding: 14px;
  border-radius: 10px;
  color: #6f6c90;
  border-color: #eff0f6;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.select-jc:focus {
  outline: none;
}

#set-btn {
  background-color: transparent;
  padding: 3px 20px 3px 20px;
  font-weight: 600;
  border: 2px solid black;
}
#set-btn:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease;
}

.AC-SetLabel-Name {
  /* font-size: 22px;
  font-weight: 500;
  border-bottom: 1px solid #000; */
  font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.2px;

}

.Ac-set-input {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  padding: 15px;
  /* margin-top: 15px; */
  border-radius: 10px;
}

.update-close-btn {
  width: 20px;
  float: right;
  position: absolute;
  cursor: pointer;
  left: 100%;
  top: -20px;
}

.Ac-close-btn {
  width: 20px;
  float: right;
  position: absolute;
  cursor: pointer;
  left: 100%;
  top: -20px;
}

.category-publish-btn {
  margin-top: 20px !important;
}
.up-del-btn {
  width: 30px;
  height: 30px;
}
#table-btns {
  border: none;
  background-color: transparent;
  margin-left: 15px;
}

/* ---------add department--------------- */
.Ad-close-btn {
  width: 20px;
  float: right;
  position: absolute;
  cursor: pointer;
  left: 92%;
  top: 11px;
}

.Examtype-close-btn {
  width: 20px;
  float: right;
  position: absolute;
  cursor: pointer;
  left: 94%;
  top: 10px;
}

.postapplied-close-btn {
  width: 20px;
  float: right;
  position: absolute;
  cursor: pointer;
  left: 92%;
  top: 11px;
}
