.admin-dcf-heading {
  p {
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
  }
}
.from-wrapper {
  label {
    font-size: 1.3rem;
  }
  input{
    border: none;
    border-bottom: 2px solid black;
  }
  input:focus{
    outline: none;
  }
}
.DCVF-form-container {
  margin-left: 10%;
  margin-right: 10%;
  button{
    font-size: 17px;
    background-color: transparent;
    padding: 2px 15px 2px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    border: none;
    border: 2px solid black;
    font-weight: 500;
  }
}
