.savebtn {
  padding: 10px 22px 10px 22px;
  border-radius: 56px;
  border: none;
  font-weight: 500;
  background-color: rgba(226, 226, 226, 1);
  margin-left: 87%;
  margin-top: 50px;
  margin-bottom: 100px;
  box-shadow: rgb(100 100 111 / 17%) 0px 7px 29px 0px;
}

.choose-img {
  background: none;
  border: none;
  color: rgba(155, 155, 155, 1);
  font-weight: 400;
  cursor: pointer;
}

.edit-pen-icon {
  cursor: pointer;
  color: rgb(112 112 112 / 78%);
}
.editdetails-form-container {
  margin-top: 5%;
}

/* Media query for screens smaller than 600px (adjust the breakpoint as needed) */
@media (max-width: 600px) {
  .savebtn {
    font-size: 14px;
    padding: 8px 12px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 30px;
  }
  .editdetails-form-container {
    margin-top: 100px;
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: #070606;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
  position: absolute;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}
