/* .table th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left !important;
    color: rgba(8, 8, 8, 0.73)!important;
}
 
  .table tbody td {
    color: rgba(8, 8, 8, 0.73);
} */

.is-table th {
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  background-color: #fcfcfd;
}
.is-table td {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

td[style*="color: red"] {
  color: rgba(255, 0, 0, 0.507) !important;
}

.SCA-table {
  padding: 3% 10% 1% 10%;
}



.SCA-heading {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  color: #901626;
  margin-top: 7%;
  font-weight: 600;
}

.table-des {
  margin-top: -15px;
  margin-bottom: 50px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.725);
}

.some-table {
  width: auto;
  margin-inline: 10px;
}

.table-responsive {
  max-height: 386px;
  overflow-y: scroll !important;
}

.thead {
  position: sticky;
  top: -1px;
  z-index: 11;
 
}

.fixe-table {
  border-top: 1px solid lightgray;
  overflow-x: hidden;
}

@media only screen and (max-width: 767px) {
  .SCA-table {
    padding: 3% 3% 1% 3%;
  }

  .pagination {
    float: left;
    margin-bottom: 20px;
  }
}
.sizeofrow {
  width: 100%;
}

.labelbox {
  white-space: nowrap;
  margin-right: 5px;
  margin-top: -3px;
}

.showcountbox {
  width: auto;
  max-width: 5em;
  text-align: center;
  margin-bottom: 24px;
  margin-right: 12px;
}
.countbox {
  display: flex;
  height: 45px;
}
