.user-header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user-logo {
  width: 200px;
  height: 60px;
}
.logo-coloured {
  margin-left: 3%;
}
.log-res {
  width: 25px;
  height: 25px;
  margin: 15px;
}
.logs {
  margin-right: 3%;
}

@media only screen and (max-width: 767px) {
  .logo-coloured {
    margin-left: 1%;
  }
  .logs {
    margin-right: 0.1%;
  }

  .log-res {
    width: 20px;
    height: 20px;
    margin: 15px;
  }
}
