.master-heading {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}
.master-table {
  padding: 2%;
}
#upd-btn {
  background-color: #0b6623e5;
  color: white;
  border: none;
  padding: 2px 10px 2px 10px;
  font-weight: 600;
}
#del-btn {
  background-color: rgb(218, 63, 63);
  color: white;
  border: none;
  padding: 2px 10px 2px 10px;
  font-weight: 600;
}
#edit-btn {
  background-color: rgb(14, 110, 255);
  color: white;
  border: none;
  padding: 2px 10px 2px 10px;
  font-weight: 600;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  margin: 0 auto;
}
.toggle-btns {
  /* div {
    display: flex !important;
    flex-wrap: wrap !important;
  } */
  p {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
  }
}
#master-sub-headings {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  border-bottom: 2px solid red;
}
.new-opening-btn {
  position: absolute;
  right: 0;
  margin: 1%;
  button {
    font-family: "Open Sans", sans-serif;
    padding: 2px 10px 2px 10px;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid black;
  }
  a {
    text-decoration: none;
  }
  button:hover {
    background-color: black;
    color: white;
    transition: ease-in-out 0.2s;
  }
}
/* --------------------- */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: #070606;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
  position: absolute;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}